<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Alquier de casas</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <input type="checkbox" id="main-hamburger">
            <label for="main-hamburger"><i class="fas fa-bars"></i>
            </label>
            <nav class="menu-hamburger">
                <ul>
                    <li><a href="/login">Inicio sesión</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Ofertas próximas</a></li>
                    <li><a href="">Escapadas Cercanas</a></li>
                    <li><a href="">Guías turísticas</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Publicar</a></li>
                </ul>
            </nav>

            <div class="logo-completo">
                <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
                <h1 class="nombre-logo">Serena</h1>
            </div>
            <a href="/productCart" class="icono-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="accesos">
                <a href="/login" class="login">Logueate</a>
                <a href="/register" class="register">Registrate</a>
            </div>
        </div>
    </header>





    <section class="main-body">
       <!--  

        <div class="sub-main-body">
            <p class="donde"><i class="fas fa-search-location"></i>A donde vamos?</p>
            <p class="cuando"><i class="far fa-calendar-alt"></i>Cuando?</p>
            <p class="cuantos"><i class="fas fa-user-check"></i></i>Cuantos somos?</p>
            <p id="buscar">Buscar</p>
        </div>
        --> 

        <form action="" method="POST" class="formBuscar">
            <input type="text" name="donde" placeholder=" A donde vamos?" class="inp1">
            <input type="date" name="fecha" class="inp2">
            <select name="cuantos" class="inp3">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4 o más</option>
            </select>
            <button type="submit" id="buscar">Buscar</button>
        </form>


        <h3 class="titulo-ofertas">Ofertas destacadas</h3>
        <div class="ofertas-destacadas">

            <article class="oferta-destacada-1">
                <a href="/productDetail">22% Off</a>
            </article>
            <article class="oferta-destacada-2">
                <p>15% Off</p>
            </article>
            <article class="oferta-destacada-3">
                <p>12% Off</p>
            </article>
            <article class="oferta-destacada-4">
                <p>10% Off</p>
            </article>

        </div>



        <h3 class="titulo-destinos">Destinos destacados</h3>
        <div class="destinos-destacados">
            <article class="destindo-destacado-1">
                <p>Mar del plata</p>
            </article>
            <article class="destindo-destacado-2">
                <p>Cariló</p>
            </article>
            <article class="destindo-destacado-3">
                <p>Villa Gessel</p>
            </article>
            <article class="destindo-destacado-4">
                <p>Las Grutas</p>
            </article>
        </div>

    </section>


    <form action="" method= "POST" class="suscripcion">
        <input type="email" placeholder="Ingresar e-mail">
        <button type="submit">Enviar</button>
    </form>



    <footer class="footer">
        <div class="redes">
            <a class="icono-red" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="icono-red" href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="icono-red" href="https://www.instagram.com/">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="icono-red" href="https://twitter.com/">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <nav class="menu-footer">

            <i class="fas fa-caret-down"></i>
            <a type="button" style="display: block;"></a>

            <div class="lista-footer">
                <div class="ul-principal">
                    <h4>Principal</h4>
                    <ul type="none">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/contacto">Cantacto</a></li>
                        <li><a href="/publicar">Publicar</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="ul-secciones">
                    <h4>Secciones</h4>
                    <ul type="none">
                        <li><a href="/ofertas">Ofertas próximas</a></li>
                        <li><a href="/escapadasCercanas">Escapadas Cercanas</a></li>
                        <li><a href="/sorteos">Sorteos</a></li>
                        <li><a href="/feriados">Feriados</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="legales">
            <i class="far fa-copyright">
                <p>2021 Copyright</p>
            </i>
            <p>Condiciones</p>
        </div>
    </footer>
</body>

</html>