<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Alquier de casas</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <h2>
                <a href="#" class="hamburger-button"><i class="fas fa-bars"></i></a>
            </h2>
            <div class="logo-completo">
                <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
                <h1 class="nombre-logo">Serena</h1>
            </div>
            <div class="accesos">
                <a href="">Publicar</a>
                <a href="">Acceder</a>
            </div>
        </div>
    </header>





    <section class="main-body">

        <div class="sub-main-body">
            <p class="donde"><i class="fas fa-search-location"></i>A donde vamos?</p>
            <p class="cuando"><i class="fas fa-search-location"></i>Cuando?</p>
            <p class="cuantos"><i class="fas fa-search-location"></i>Cuantos somos?</p>
            <p id="buscar">Buscar</p>
        </div>
        <nav>

        </nav>
        <h3 class="titulo-destinos">Destinos destacados</h3>
        <div class="destinos-destacados">
            <article class="destindo-destacado-1">
                <p>Mar del plata</p>
            </article>
            <article class="destindo-destacado-2">
                <p>Cariló</p>
            </article>
            <article class="destindo-destacado-3">
                <p>Villa Gessel</p>
            </article>
        </div>

    </section>
    <div class="suscripcion">
        <h3>Suscribite</h3>
        <p>Ingresar e-mail</p>
    </div>



    <footer class="footer">
        <div class="redes">
            <a class="icono-red" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="icono-red" href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="icono-red" href="https://www.instagram.com/">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="icono-red" href="https://twitter.com/">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <nav class="menu-footer">

            <i class="fas fa-caret-down"></i>
            <a type="button" style="display: block;"></a>

            <div class="lista-footer">
                <h4>Principal</h4>
                <a href="/">Inicio</a>
                <a href="/contacto">Cantacto</a>
                <a href="/publicar">Publicar</a>
                <a href="/blog">Blog</a>
                <h4>Secciones</h4>
                <a href="/ofertas">Ofertas próximas</a>
                <a href="/escapadasCercanas">Escapadas Cercanas</a>
                <a href="/sorteos">Sorteos</a>
                <a href="/feriados">Feriados</a>
            </div>
        </nav>


        <div class="legales">
            <i class="far fa-copyright">
                <p>2021 Copyright</p>
            </i>
            <p>Condiciones</p>
        </div>
    </footer>
</body>

</html>