<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class="main-header">
        <div class="top-bar">
            <h2>
                <a href="#" class="hamburger-button"><i class="fas fa-bars"></i></a>
            </h2>
            <div class="logo-completo">
                <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
                <h1 class="nombre-logo">Serena</h1>
            </div>
            <div class="accesos">
                <a href="">Publicar</a>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="container-all">

            <input type="radio" id="1" name="image-slide" hidden/>
            <input type="radio" id="2" name="image-slide" hidden/>
            <input type="radio" id="3" name="image-slide" hidden/>

            <div class="slide">

                <div class="item-slide">
                    <img src="Images/img1.jpg">
                </div>

                <div class="item-slide">
                    <img src="Images/img2.jpg">
                </div>

                <div class="item-slide">
                    <img src="Images/img3.jpg">
                </div>

            </div>


            <div class="pagination">
            
                <label class="pagination-item" for="1">
                    <img src="Images/img1.jpg">
                </label>
                
                <label class="pagination-item" for="2">
                    <img src="Images/img2.jpg">
                </label>
                
                <label class="pagination-item" for="3">
                    <img src="Images/img3.jpg">
                </label>

            </div>
        </div>

    
    <main class="Login"> 
        
        <div class="Login">
                <h1 class="tituloDelLogin">ACCEDER</h1>
            
    </div>
        <form action="/login" method="POST">
            <div class="Login">
    <div class="nombre-e-email-del-login">
        <label for="email del usuario">Correo</label>
    </div>
        <input type="email" name="su email" id="email del usuario">
    </div>
    <div class="Login">
        <div class="nombre-e-email-del-login">
        <label for="su contraseña">Contraseña</label>
    </div>
        <input type="password" name="su contraseña" id="su contraseña">
    </div>

<p>
    <div class="Login">
        <label for="recordatorio de cuenta"></label>
        <input type="checkbox" name="recordatorio" id="recordatorio de cuenta">recuèrdame
        </div>
    </form>
</p>
    
    <p>
    <div class="Login">
    <button type="submit">Acceder</button>
    </div>
    </p>

    <p>
    <div class="Login">
    <button type="submit">Ingresa con facebook</button>
    </div>
    </p>

    <p>
    <div class="Login">
    <button type="submit">Ingresa con google</button>
    </div>
    </p>

    <p>
    <div class="Login">
        <a href=" ">¿olvido su contraseña?</a>
        </div>
    </p>

        <div class="Login">
            <button type="submit">Registrarse</button>
    </div>
    </main>
    
         <footer class="footer">
        <div class="redes">
            <a class="icono-red" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="icono-red" href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="icono-red" href="https://www.instagram.com/">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="icono-red" href="https://twitter.com/">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <nav class="menu-footer">
            
            <i class="fas fa-caret-down"></i>
            <a type="button" style="display: block;"></a>

            <div class="lista-footer">
                <h4>Principal</h4>
                <a href="/">Inicio</a>    
                <a href="/contacto">Cantacto</a>
                <a href="/publicar">Publicar</a>
                <a href="/blog">Blog</a> 
                <h4>Secciones</h4>
                <a href="/ofertas">Ofertas próximas</a>
                <a href="/escapadasCercanas">Escapadas Cercanas</a>
                <a href="/sorteos">Sorteos</a>  
                <a href="/feriados">Feriados</a>            
            </div>
        </nav>


        <div class="legales">
            <i class="far fa-copyright">
                <p>2021 Copyright</p>
            </i>
            <p>Condiciones</p>
        </div>
    </footer>
</body>

</html>
    



