<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/da86db1aac.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Alquier de casas</title>
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <input type="checkbox" id="main-hamburger">
            <label for="main-hamburger"><i class="fas fa-bars"></i>
            </label>
            <nav class="menu-hamburger">
                <ul>
                    <li><a href="/login">Inicio sesión</a></li>
                    <li><a href="/register">Registrate</a></li>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Ofertas próximas</a></li>
                    <li><a href="">Escapadas Cercanas</a></li>
                    <li><a href="">Guías turísticas</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Publicar</a></li>
                </ul>
            </nav>

            <div class="logo-completo">
                <img src="/images/logo-casas-alquiler.jpg" alt="" class="logo">
                <h1 class="nombre-logo">Serena</h1>
            </div>
            <a href="/productCart" class="icono-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="accesos">
                <a href="/login" class="login">Logueate</a>
                <a href="/register" class="register">Registrate</a>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="container-all">

            <input type="radio" id="1" name="image-slide" hidden />
            <input type="radio" id="2" name="image-slide" hidden />
            <input type="radio" id="3" name="image-slide" hidden />

            <div class="slide">

                <div class="item-slide">
                    <img src="Images/foto1.jpg">
                </div>

                <div class="item-slide">
                    <img src="Images/foto2.jpg">
                </div>

                <div class="item-slide">
                    <img src="Images/foto3.jpg">
                </div>

            </div>

            <div class="pagination">

                <label class="pagination-item" for="1">
                    <img src="Images/foto1.jpg">
                </label>

                <label class="pagination-item" for="2">
                    <img src="Images/foto2.jpg">
                </label>

                <label class="pagination-item" for="3">
                    <img src="Images/foto3.jpg">
                </label>

            </div>

        </div>
        <section class="datos">
            <article class="resumen">
                <h4>Alquiler en Mar del Plata</h4>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p class="comentario">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat, veniam
                    non sequi commodi maxime debitis rem cupiditate fugiat iste quidem quo sapiente? Id assumenda vel
                    labore nulla perspiciatis animi.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat, veniam
                    non sequi commodi maxime debitis rem cupiditate fugiat iste quidem quo sapiente? Id assumenda vel
                    labore nulla perspiciatis animi.</p>
                <div class="services">
                    <i class="fas fa-swimmer"></i>
                    <i class="fas fa-wifi"></i>
                    <i class="fas fa-utensils"></i>
                    <i class="fas fa-car"></i>
                </div>
            </article>
            <div class="info-cont">
                <form action="/procesrPago" method="POST" class="form-datos-pago">
                    <h4>Condiciones del alquiler:</h4>
                    <div class="cond-alq">
                        <div class="datos-alq">
                            <div class="fecha-alq">
                                <div class="ingreso">
                                    <label>Fecha ingreso:</label>
                                    <input type="date" name="fechaingreso" value="2021-05-03">
                                </div>
                                <div class="egreso">
                                    <label>Fecha egreso:</label>
                                    <input type="date" name="fechaegreso" value="2021-05-10">
                                </div>
                            </div>
                            <div class="cant-personas">
                                <div class="adultos">
                                    <label>Adultos:</label>
                                    <input type="number" name="cantadultos" value="2">
                                </div>
                                <div class="ninos">

                                    <label>Niños:</label>
                                    <input type="number" name="cantninos" value="2">
                                </div>
                            </div>
                        </div>
                        <article class="condiciones">
                            <p class="precio">$3.000 por noche</p>
                            <p class="precio-tot">$18.000 total</p>
                        </article>
                    </div>
                    <div class="datos-personales-pago">
                        <article class="main-datos-personales">
                            <h4 class="titulo-datos">Datos personales</h4>
                            <div class="datos-personales">
                                <h5 class="titulo">Nombre y Apellido:</h5>
                                <h5 class="dato">Juan Carlos Perez</h5>
                                <h5 class="titulo">E-mail:</h5>
                                <h5 class="dato">juancarlosperez@gmail.com</h5>
                                <h5 class="titulo">Pais de Recidencia:</h5>
                                <h5 class="dato">Argentina</h5>
                                <h5 class="titulo">celular:</h5>
                                <h5 class="dato">+54-11-38574086</h5>
                            </div>
                        </article>

                        <h4>Datos para el pago:</h4>
                        <div class="datos-pago">

                            <div class="titular-tta">
                                <label>Titular de la Tarjeta:</label>
                                <input type="text" name="titularTarjeta" class="control-pago">
                            </div>
                            <div class="tipo-tta">
                                <label>Tipo de Tarjeta de Crédito:</label>
                                <select name="tipoTarjeta" class="control-pago">
                                    <option value="visa">Visa</option>
                                    <option value="master">Mastercard</option>
                                    <option value="American">American Express</option>
                                </select>
                            </div>
                            <div class="fecha-expir">
                                <label>Fecha de expiración:</label>
                                <select name="mesExpiracion" class="control-pago">
                                    <option value="ene">Enero</option>
                                    <option value="feb">Febrero</option>
                                    <option value="mar">Marzo</option>
                                    <option value="abr">Abril</option>
                                    <option value="may">Mayo</option>
                                    <option value="jun">Junio</option>
                                    <option value="jul">Julio</option>
                                    <option value="ago">Agosto</option>
                                    <option value="sept">Septiembre</option>
                                    <option value="oct">Octubre</option>
                                    <option value="nov">Noviembre</option>
                                    <option value="dic">Diciembre</option>
                                </select>

                                <label class="separador">/</label>
                                <select name="mesExpiracion" class="control-pago">
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                </select>
                            </div>
                            <div class="codigo-cvc">
                                <label>Código CVC:</label>
                                <input type="number" name="codigoCvc" class="control-pago-cvc">
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <button type="submit">Enviar</button>
                        <button type="Reset">Reset</button>
                    </div>
                </form>





            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="redes">
            <a class="icono-red" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="icono-red" href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="icono-red" href="https://www.instagram.com/">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a class="icono-red" href="https://twitter.com/">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
        <nav class="menu-footer">

            <i class="fas fa-caret-down"></i>
            <a type="button" style="display: block;"></a>

            <div class="lista-footer">
                <div class="ul-principal">
                    <h4>Principal</h4>
                    <ul type="none">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/contacto">Cantacto</a></li>
                        <li><a href="/publicar">Publicar</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
                <div class="ul-secciones">
                    <h4>Secciones</h4>
                    <ul type="none">
                        <li><a href="/ofertas">Ofertas próximas</a></li>
                        <li><a href="/escapadasCercanas">Escapadas Cercanas</a></li>
                        <li><a href="/sorteos">Sorteos</a></li>
                        <li><a href="/feriados">Feriados</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="legales">
            <i class="far fa-copyright">
                <p>2021 Copyright</p>
            </i>
            <p>Condiciones</p>
        </div>
    </footer>
</body>

</html>